
$colorpag: #BC2710 ;
$colorpagb: #51C8B7;
$colorpagc: #E8E1DE;
$colorpagd: white; 
$colorpage: black;


$tipogeneral: 'Montserrat', sans-serif;
$colortextoa: #BC2710;
$colortextob: black;
$colortextoc: white;

