$background_barra: white ;
$background_bloqueUno: black; 
$backgorund_bloqueDos: #BC2710 ;

$h1_tipografia: 'Montserrat', sans-serif;  
$h1_color: white ;

$bloqueUno_altura: 720px;

$bloqueTres_altura: 700px;
$bloqueTres_color: #E8E1DE; 


$cajaUno_color: #E8E1DE; 
$cajaUno_altura: 600px;
$cajaUno_ancho: 400px;


$h2_color: #BC2710;
$h2_fontFamily: 'Montserrat', sans-serif;
$h2_fontSize: 30px;

$h4_color: #BC2710;
$h4_fontFamily: 'Montserrat', sans-serif;
$h4_fontSize: 20px;


$text_color: black; 
$text_size: 18px;
$text_fontFamily: 'Montserrat', sans-serif;

$cajaDos_color: #E8E1DE; 
$cajaDos_altura: 600px;
$cajaDos_ancho: 400px;


$cajaTres_color: #E8E1DE; 
$cajaTres_altura: 600px;
$cajaTres_ancho: 400px;

