.menuPortada{
    height: 300px;
    width: 1650px;
    background-color:$colorpag;
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
    @media only screen and (max-width: 576px){
        width: 100%;
        height: 200px;

    }
    @media only screen and (min-width: 577px) and (max-width:960px){
        width: 100%;
        height: 250px;
    }

    .menuImg {
        background-color: $colorpagb;
        width: 350px;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @media only screen and (max-width: 576px){
            width: 50%;
            height: 90px;
        }
        @media only screen and (min-width: 577px) and (max-width:960px){
            width: 50%;
            height: 100px;
        }
    }


    .bebidas{
        height: 130px;
        width: 260px;
        margin-bottom: 10px;
        @media only screen and (max-width: 576px){
            margin-top: 10px;
            width: 90%;
            height: 60px;
        }
        @media only screen and (min-width: 577px) and (max-width:960px){
            width: 90px;
            height: 70px ;
        }
    }
}





.contactoPortada{
	height: 150px;
    width: 100%;
	background-color: $colorpag;
	opacity: 0.9;
    margin-bottom: 0px; margin-left: 0px; width: 1650px;

    @media only screen and (max-width: 576px){
        width: 100%;
        height: 60px;
    }
    @media only screen and (min-width: 577px) and (max-width:960px){
        width: 100%;
        height: 90px;
        
    }
    @media only screen and (min-width: 961px) and (max-width:2560px){
        width: 100%;
        height: 150px;
    }
}



.cajaContacto{
	height: 600px;
	background-color: $colorpagb;
	margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaContactob{
    height: 500px;
}



