.footer {
    background-color: $colorpage;
    width: 100%;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media only screen and (max-width: 576px) {
        flex-direction: column;

    }

    @media only screen and (min-width: 577px) and (max-width:960px) {
        width: 100%;
        height: 110px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    @media only screen and (min-width: 961px) and (max-width:2560px) {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
    }

    p {
        margin: 0px;
    }
}

.Uno,
.Dos,
.Tres {
    background-color: $colorpage;

    justify-content: space-between;
    margin-top: 12px;
    width: 30%;


}




.letraFooter {
    justify-content: space-between;
    flex-direction: column;
    color: $colortextoc;
    font-family: $tipogeneral;
    font-size: 15px;

    @media only screen and (max-width: 576px) {
        font-size: 10px;
    }

}

.imgIconos {
    width: 130px;
    height: 28px;

    @media only screen and (max-width: 576px) {
        width: 90px;
        height: 18px;
    }
}