#footer{

    background-image: linear-gradient(to right, black, #BC2710);
    width: 1650px;
    height: 80px;
    opacity: 0.9;

}
.ulFooter{
    margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}