p {
	font-family: $tipogeneral;

}

.grilla {
	display: grid;

	grid-template-columns: auto 825px 825px auto;
	grid-template-rows: 400px 400px 400px 400px;
	grid-template-areas: ". imagen1 imagen2 ."
		". imagen3 imagen4 ."
		". imagen5 imagen6 ."
		". imagen7 imagen8 .";
	font-size: 21px;


	@media only screen and (max-width: 576px) {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	@media only screen and (min-width: 577px) and (max-width:960px) {
		display: flex;
		flex-direction: column;
		width: 100%;

	}

	@media only screen and (min-width: 961px) and (max-width:2560px) {
		display: grid;
		grid-template-columns: auto 50% 50% auto;
		grid-template-rows: 400px 400px 400px 400px;
		width: 100%;
	}

	img {
		max-width: 100%;
		height: 100%;
	}

}




.panchito {
	width: 320px;
	height: 220px;
}



.imagenUno,
.imagenCuatro,
.imagenCinco,
.imagenOcho {
	background-color: $colorpag;
}

.imagenDos,
.imagenTres,
.imagenSeis,
.imagenSiete {
	background-color: $colorpagb;
}

.imagenUno,
.imagenDos,
.imagenTres,
.imagenCuatro,
.imagenCinco,
.imagenSeis,
.imagenSiete,
.imagenOcho {
	display: flex;
	align-items: center;

	@media only screen and (max-width: 576px) {
		width: 100%;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	@media only screen and (min-width: 577px) and (max-width:960px) {
		width: 100%;
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}




	img {
		@media only screen and (max-width: 576px) {
			height: 230px;
			width: 220px;
			justify-content: center;
		}

		@media only screen and (min-width: 577px) and (max-width:960px) {
			height: 330px;
			width: 320px;
			justify-content: center;
		}

		@media only screen and (min-width: 961px) and (max-width:2560px) {
			height: 350px;
			width: 315px;
		}
	}


	.panchito {
		@media only screen and (max-width: 576px) {
			height: 140px;
			width: 200px;
		}

		@media only screen and (min-width: 577px) and (max-width:960px) {
			height: 210px;
			width: 300px;
		}

		@media only screen and (min-width: 961px) and (max-width:2560px) {
			height: 230px;
			width: 340px;
		}
	}

	p {
		@media only screen and (max-width: 576px) {
			font-size: 12px;
			font-weight: bolder;
		}

		@media only screen and (min-width: 577px) and (max-width:960px) {
			font-size: 15px;
			font-weight: bolder;
		}

		@media only screen and (min-width: 961px) and (max-width:2560px) {
			font-size: 14px;
			font-weight: bolder;
		}
	}
}

.imagenUno {
	grid-area: imagen1;
}

.imagenDos {
	grid-area: imagen2;
}

.imagenTres {
	grid-area: imagen3;
}

.imagenCuatro {
	grid-area: imagen4;
}

.imagenCinco {
	grid-area: imagen5;
}

.imagenSeis {
	grid-area: imagen6;
}

.imagenSiete {
	grid-area: imagen7;
}

.imagenOcho {
	grid-area: imagen8;
}