p{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;

}

#menuPortada{
    height: 300px;
    width: 1650px;
    background-color:black;
}





#grilla{
	display: grid;
	grid-template-columns: auto 824px 824px  auto;
    grid-template-rows: 400px  400px  400px  400px;
	grid-template-areas:". imagen1 imagen2 ."
	                    ". imagen3 imagen4 ."
						". imagen5 imagen6 ."
						". imagen7 imagen8 .";
	height: 100em;                     
}


img{
    max-width: 100%;
    height: 100%;
}

#imagenUno{
	grid-area: imagen1; 
    background-color:  #BC2710;
    display: flex;
    align-items: center;   
}

#imagenDos{
	grid-area: imagen2;
	display: flex;
	align-items: center;
	background-color: #51C8B7;
}

#imagenTres{
	grid-area: imagen3;
	display: flex;
	align-items: center;
	background-color: #51C8B7;	
}

#imagenCuatro{
	grid-area: imagen4;
	background-color:  #BC2710;
	display: flex;
	align-items: center;
}

#imagenCinco{
	grid-area: imagen5;
	display: flex;
	align-items: center;
	background-color: #51C8B7;	
}

#imagenSeis{
	grid-area: imagen6;
	background-color:  #BC2710;
	display: flex;
	align-items: center;
}

#imagenSiete{
	grid-area: imagen7;
	display: flex;
	align-items: center;
	background-color: #51C8B7;	
}

#imagenOcho{
	grid-area: imagen8;
	background-color:  #BC2710;
	display: flex;
	align-items: center;
}
