header {
	background-color: $colorpagc;

	@media only screen and (max-width: 576px) {
		height: 100px;
	}

	.navbar {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		@media only screen and (max-width: 576px) {
			height: 100px;
			flex-direction: row;
			align-items: center;



		}

		@media only screen and (min-width: 577px) and (max-width:960px) {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}

		a {

			.logo {
				width: 120px;
				height: 95px;

				@media only screen and (max-width: 576px) {
					display: none;
					width: 70px;
					height: 50px;
				}
			}

			@media only screen and (max-width: 576px) {
				font-size: 12px;
				height: 100px;

			}

			@media only screen and (min-width: 577px) and (max-width:960px) {
				font-size: 15px;
			}
		}

		.ulBarra {
			display: flex;
			align-items: center;
			height: 100%;
			justify-content: space-between;
			width: 60%;
			margin: 0px;
			padding: 0px;

			@media only screen and (max-width: 576px) {
				width: 90%;
			}

			li {
				display: inline-block;
				color: $colorpagd;
				font-family: $tipogeneral;
				width: 15%;
				font-size: 20px;



				@media only screen and (max-width: 576px) {
					width: 30%;
					flex-direction: row;
					font-size: 12px;


				}
			}

			@media only screen and (max-width: 576px) {
				justify-content: space-around;
				height: 100px;
			}
		}



	}

}


a {
	text-decoration: none;
	color: $colortextoa;
	text-transform: uppercase;
	height: 100px;


}

a:hover {
	color: $colorpage;

	cursor: pointer;
}



.bloqueUno {

	height: 720px;
	width: 100%;
	background-color: $colorpage;
	display: flex;
	justify-content: center;

	img {
		width: 100%;
	}

	@media only screen and (max-width: 576px) {
		height: 100%;

		img {
			width: 100%;
			object-fit: contain;
		}
	}

	@media only screen and (min-width: 577px) and (max-width:960px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	@media only screen and (min-width: 577px) and (max-width:960px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: auto;
	}

}

.bloqueDos {
	height: 40px;
	width: 100%;
	background-color: $colorpag;
	border: 0px;
	justify-content: center;
	align-items: center;
	display: flex;

	@media only screen and (max-width: 576px) {
		justify-content: center;
		align-items: center;
		display: flex;
	}

	@media only screen and (min-width: 577px) and (max-width:960px) {
		display: flex;
		align-items: center;

	}
}

.tituloPag {
	display: flex;
	align-items: center;
	margin-left: 10px;
	justify-content: center;

}

h1 {
	font-family: $tipogeneral;
	font-size: 30px;
	color: $colortextoc;
	margin-bottom: 0px;
	margin-top: 0px;
	animation-duration: 2s;
	animation-name: aparecer;
	animation-iteration-count: infinite;

	@media only screen and (max-width: 576px) {
		font-size: 18px;
	}
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}