.navbar{
	display: flex;
    justify-content: space-evenly ;
	align-items: center;
    height: 100px;
	a{

        .logo{
        width: 80px;
        
		}

	}
}



a{
	text-decoration: none;
	color: #BC2710;
	text-transform: uppercase;
	height: 20px;
}
a:hover {
color: #51C8B7 ; 

cursor: pointer; 
}
.ulBarra{ 
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
	width: 60%;
    margin: 0px;
	padding: 0px;
}

li {

	display: inline-block;
	color: white;

	font-family:'Montserrat', sans-serif;
	width: 15%;
	font-size: 20px;
}


#bloqueUno {
    height: $bloqueUno_altura;
    width: 1650px;
    background-color: $background_bloqueUno; 
    display: flex;
    justify-content: center; 
}

#bloqueDos {
height: 40px;
width: 100%;
background-color: $backgorund_bloqueDos;
border: 0px;
justify-content: center;
align-items: center;
display: flex;

}
#tituloPag{
	border-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
    align-items: center;
    width: 30%;
    margin-left: 10px;
    margin-right: 0px;
    justify-content: center;
}

h1{
    font-family: $h1_tipografia;
    font-size: 30px;
    color: $h1_color;
    margin-bottom: 0px;
    margin-top: 0px;
    animation-duration: 2s;
    animation-name: aparecer; 
    animation-iteration-count: infinite;
}
@keyframes aparecer{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}