#bloqueTres {
    height: $bloqueTres_altura;
    width: 100%;
    background-color: $bloqueTres_color ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    margin-bottom: 0px;
    align-items: center;


}


#cajaUno{
	background-color: $cajaUno_color;
	opacity: 0.9;
	height: $cajaUno_altura;
	width: $cajaUno_ancho;
	display: flex;
	justify-content: flex-start;

}
#c1:hover{
    transform: translate(0px,30px);
    justify-content: flex-start; 
    transition: all 1s;
}
#c2:hover{
    transform: translate(0px, 30px);
    justify-content: flex-start; 
    transition: all 1s;
}
#c3:hover{
    transform: translate(0px, 30px);
    justify-content: flex-start; 
    transition: all 1s;
}


h2{
    color:$h2_color;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 80px; 
    font-size: $h2_fontSize;
    font-family: $h2_fontFamily;

}

h4{
    margin-left: 60px;
    color: $h4_color; 
    font-family: $h4_fontFamily;
    font-size: $h4_fontSize;
    margin-top: 5px;
    margin-bottom: 0px;
}

#tex{
    margin-left: 60px;
    color: $text_color;
    font-size: $text_size;
    font-family: $text_fontFamily;
}



#cajaDos {
    background-color: $cajaDos_color;
    opacity: 0.9;
    height: $cajaDos_altura;
    width: $cajaDos_ancho;

}
#cajaTres {
    background-color: $cajaTres_color;
    opacity: 0.9;
    height: $cajaTres_altura;
    width: $cajaTres_ancho;

}





#contactoPortada{
	width: 1650px;
	height: 300px;
	background-color: black;
	opacity: 0.9;
	margin-left: 0px; 
	margin-bottom: 0px;
}

#cajaContacto{
	width: 1650px;
	height: 600px;
	background-color: #51C8B7;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}




#tituloContacto {
	margin-top: 0px;
	margin-left: 120px; 
	color: black;
	font-family:'Montserrat', sans-serif;
	font-size: 40px;
}
