.bloqueTres {
    width: 100%;
    background-color: $colorpagc;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    margin-bottom: 0px;
    align-items: center;

    @media only screen and (max-width: 576px) {
        flex-direction: column;
    }

    @media only screen and (min-width: 577px) and (max-width:960px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    @media only screen and (min-width: 961px) and (max-width:2560px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


.cajaUno,
.cajaDos,
.cajaTres {
    display: flex;
    align-items: center;

    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: $colorpagc;

    @media only screen and (max-width: 576px) {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    @media only screen and (min-width: 961px) and (max-width:2560px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.c1,
.c2,
.c3 {
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    gap: 15px;
    background-color: $colorpagc;

    @media only screen and (min-width: 961px) and (max-width:2560px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 95%;

    }

    .c1img,
    .c2img,
    .c3img {
        background-size: cover;
        background-position: center;
        height: 85%;
        width: 85%;
    }

    .c1img {
        background-image: url(../../img/hamburger.jpg);

        @media only screen and (min-width: 961px) and (max-width:2560px) {
            height: 85%;
            width: 80%;
        }
    }

    .c2img {
        background-image: url(../../img/hotd.jpg);

        @media only screen and (min-width: 961px) and (max-width:2560px) {
            height: 85%;
            width: 80%;
        }
    }

    .c3img {
        background-image: url(../../img/coke.jpg);

        @media only screen and (min-width: 961px) and (max-width:2560px) {
            height: 85%;
            width: 80%;
        }
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
        color: $colortextoa;
        font-family: $tipogeneral;
        background-color: $colorpagc;

        @media only screen and (max-width: 576px) {
            flex-direction: column;
            justify-content: center;
            font-size: 13px;
        }

    }

    h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        background-color: $colorpagc;

        @media only screen and (max-width: 576px) {
            font-size: 11px;
        }
    }

    .tex {
        margin-top: 0px;
        margin-bottom: 0px;
        color: $colortextob;
        font-size: 18px;
        background-color: $colorpagc;

        @media only screen and (max-width: 576px) {
            font-size: 10px;
        }

        @media only screen and (min-width: 961px) and (max-width:2560px) {
            font-size: 18px;
        }
    }

    h2,
    h4,
    .tex,
    .tituloContacto {
        color: $colortextoa;
        font-family: $tipogeneral;
    }

}