.bloqueTres {
    width: 100%;
    background-color: $colorpagc;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    margin-bottom: 0px;
    align-items: center;

    @media only screen and (max-width: 576px) {
        flex-direction: column;
    }

    @media only screen and (min-width: 577px) and (max-width:960px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.cajaUno,
.cajaDos,
.cajaTres {
    display: flex;
    align-items: center;
    
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: $colorpagc;

    @media only screen and (max-width: 576px) {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

.c1,
.c2,
.c3 {
    width: 350px;
    height: 500px;
    display: flex; 
    align-items: center;
    flex-direction: column;
    background-color: darkgreen;
    

    .img{

        height: 500px;
        width: 50%;

        @media only screen and (max-width: 576px) {

            width: 90%;
            margin-left: none;
        }
    }
    

    

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
        color: $colortextoa;
        font-family: $tipogeneral;
        background-color: chartreuse;

        @media only screen and (max-width: 576px) {
            flex-direction: column;
            justify-content: center;
            font-size: 15px;
        }
        
    }

    h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        background-color: crimson;
    
        @media only screen and (max-width: 576px) {
            font-size: 15px;
        }
    }

    .tex {
        margin-top: 0px;
        margin-bottom: 0px;
        color: $colortextob;
        font-size: 18px;
        background-color: darkgreen;
    
        @media only screen and (max-width: 576px) {
            font-size: 15px;
        }
    }

    h2,
    h4,
    .tex,
    .tituloContacto {
    color: $colortextoa;
    font-family: $tipogeneral;
}

}










