section{
	
	width: 1650px;
	height: 800px;
	background-color: black ;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	display: flex;
	justify-content: center;
	align-items: center

}

h3 {
    align-items: center;
    background-color: aqua;
    color: white;
}